<h2 class='content-title'>Users</h2>

<div class='profilePage'>
  <div class='users_decks'>
    <div class='text'>
      <% @user.each do |u| %>
        <a href="/profile/<%= u.id %>"><%= u.email %></a>
        <br>
        <br>
      <%end%>
    </div>

  </div>

</div>
