<div class='home-content-wrapper'>
  <div class='outer-zoom'>
    <div class='motto-banner banner-image'>
      <h3 class='banner-title'>UP YOUR GAME</h3>
    </div>
  </div>
  <div class='outer-zoom'>
    <div class='show-deck-banner banner-image'>
      <h3 class='banner-title'>DECKS</h3>
    </div>
  </div>
  <div class='outer-zoom'>
    <div class='sign-up-banner banner-image'>
      <h3 class='banner-title'>SIGN UP FOR FREE</h3>
    </div>
  </div>
</div>
