// Place all the styles related to the decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.deck-creation-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.35fr;
  grid-template-rows: 150px 1fr;
  height: 1600px;
  width: 90%;
  margin: 0 auto 25px;
  border: 1px solid green;

  div {
    border: 1px solid blue;
  }
}

.search-area-wrapper {
  grid-column: 1 / 3;
}

.card-result-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.card-image {
  height: 300px;
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto 10px;
}
.card-information{
  text-align: center;
}

.deck-title {
  margin-bottom: 10px;
}

.card-type-deck-title {
  margin-bottom: 5px;
}

.type-list:last-child {
  margin-bottom: 10px;
}

// Deck show page
.show-deck-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-gap: 15px;
  width: 92.5%;
  margin: 0 auto 3.5rem;
  border-radius: 25px;
  background-color: #282828;

  .left-col {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    padding: 40px 60px;
    color: #D4D4D4;
  }

  .right-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
    border-left: 7.5px solid #909090;
  }
}

.deck-list-sec-title {
  grid-column: 1 / 4;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
}

.card-type-deck-title {
  margin-bottom: 16.5px;
  font-weight: 600;
}


#hover-card-image {
  height: 492.5px;
  width: 355px;
  background-image: url("mtg_cardback.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 19.5px;
}

.card-in-deck {
  margin-bottom: 6.5px;
}

.card-in-deck:hover {
  cursor: e-resize;
}

.type-list > p:last-of-type {
  margin-bottom: 30px;
}

.wrapper{
  border: 2px solid; border-radius: 50px;
  background-color: #282828; width: 30%;
  margin: 10px auto; box-shadow: 3px 3px 3px black;
  color: white; }

.deck_name{
  font-size: 25px;
  text-align: center;
  color: white;
}

.image{
  margin: 0 auto;
  // border: 2px solid;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 250px;
  height: 400px;
  background-image: url('mtg_cardback.jpg');
}



//
