// Place all the styles related to the decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 25px;
}

.deck-creation-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.35fr;
  grid-template-rows: 150px 1fr;
  height: 1600px;
  width: 90%;
  margin: 0 auto 25px;
  border: 1px solid green;

  div {
    border: 1px solid blue;
  }
}

.search-area-wrapper {
  grid-column: 1 / 3;
}

.card-result-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.card-image {
  height: 300px;
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto 10px;
}

.deck-title {
  margin-bottom: 10px;
}

.card-type-deck-title {
  margin-bottom: 5px;
}

.type-list:last-child {
  margin-bottom: 10px;
}
