// Place all the styles related to the decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.deck-creation-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.35fr;
  grid-template-rows: 150px 1fr;
  height: 1600px;
  width: 90%;
  margin: 0 auto 25px;
  border: 1px solid green;

  div {
    border: 1px solid blue;
  }
}

.search-area-wrapper {
  grid-column: 1 / 3;
}

.card-type-deck-title {
  margin-bottom: 5px;
}

.type-list:last-child {
  margin-bottom: 10px;
}

// Deck show page
.show-deck-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-gap: 15px;
  width: 92.5%;
  margin: 0 auto 3.5rem;
  border-radius: 25px;
  background-color: #282828;

  .left-col {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    padding: 40px 60px;
    color: #D4D4D4;
  }

  .right-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
    border-left: 7.5px solid #909090;
  }
}

.deck-list-sec-title {
  grid-column: 1 / 4;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
}

.card-type-deck-title {
  margin-bottom: 16.5px;
  font-weight: 600;
}


#hover-card-image {
  height: 492.5px;
  width: 355px;
  background-image: url("mtg_cardback.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 19.5px;
}

.card-in-deck {
  margin-bottom: 6.5px;
}

.card-in-deck:hover {
  cursor: e-resize;
}

.type-list > p:last-of-type {
  margin-bottom: 30px;
}

// Decks index page
.deck-index-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}

.index-deck-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: 15px auto;
  padding: 15px 10px;
  border-radius: 25px;
  background-color: #282828;
  color: white;
  text-align: center;
}

// .index-deck-wrapper:hover {
//   color: black;
//   background-color: #D4D4D4;
//   transition: all 0.5s ease;
// }

.index-deck-name {
  text-decoration: none;
  font-size: 1.15em;
  text-align: center;
  color: #37BED2;
  margin-bottom: 25px;
}

.index-deck-name:hover {
  color: #FA8072;
}

.deck-image{
  margin: 10px auto 20px;
  border-radius: 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 200px;
  height: 300px;
  background-image: url('mtg_cardback.jpg');
}

.button-holder {
  margin: 35px 0 25px;
}

.invert-button-color {
  border: 1px solid #D4D4D4;
}
.show-button{
  display: grid;
  grid-template-columns: .5fr 1fr;
  width: 60%;
  margin: 0 auto;
}



//
