.bothForms{
    font-family: 'Nanum Gothic', sans-serif;
    color: #d4d4d4;

    background-color:	#282828;
    width: 30rem;
    // height: 53vh;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    margin: 3% auto;

}

.formTitle{
  position: relative;
  bottom: 30px;
  font-weight: 600;
  // color: pink;
}

#signup{
  font-weight: 100;

}

.emailForms{
  margin-bottom: 7%;
  width: 20rem;

}

.passwordForms{
  margin-bottom: 5%;
  width: 20rem;
}

img{
  height: 20vh;
  position: relative;
  top: 2em;
  left: 6em;
  // border: 2px solid
  // box-shadow: 2px 2px 2px;

}

.loginForm{
  background-color:	#F5E4B8;
  // font-family: 'Source Sans Pro', sans-serif;
  // font-family: 'Poppins', sans-serif;
  // font-family: 'Muli', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  width: 40vw;
  height: 60vh;
  position: relative;
  top: 10em;
  box-shadow: 2px 2px 2px;

}

a{
  // color:pink;
}
