.results-decklist-wrapper {
  display: grid;
  grid-template-columns: 76% 22%;
  grid-column-gap: 2%;
  width: 95%;
  padding: 2.5rem 1.5rem;
  margin: 0 auto 3.5rem;
  background-color: #282828;
  color: #D4D4D4;
}

.card-result-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 100px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.card-image {
  height: 300px;
  width: 217px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px auto 20px;
}

.card-name-cost {
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

.card-text {
  margin: 0 7.5% 20px;
  font-size: 0.9em;
  line-height: 1.5em;
  padding-bottom: 17.5px;
  border-bottom: 2px solid #D4D4D4;
}

.card-price {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 15px;
}

.add-card-button {
  display: block;
  background-color: #282828;
  color: #D4D4D4;
  padding: 12px 15px 8px;
  margin: 0 auto 25px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.add-card-button:hover {
  filter: invert(100%);
}

.prev-next-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 4;
}

.page-button {
  text-decoration: none;
  color: #D4D4D4;
  background-color: #282828;
  border: 1px solid #D4D4D4;
  padding: 11px 15px 8px;
}

.page-button:hover {
  filter: invert(100%);
}

.prev-button {
  margin-right: 20px;
}

// Deck index of edit/results page
.deck-sec-title {
  text-align: center;
  margin-bottom: 1.8rem;
}

.deck-index-type-sec > :last-child {
  border-bottom: none;
  margin-bottom: 20px;
}

.deck-index-card-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 10px 15px;
  background-size: 120% auto;
  background-repeat: no-repeat;
  background-position: -30px -125px;
  border-bottom: 3px solid #D4D4D4;
}

.deck-index-card-sec:after {
  content: '';
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, black, transparent);
}

.deck-index-card {
  position: relative;
  z-index: 3;
  font-size: 0.925em;
  color: #D4D4D4;
  padding-right: 15px;
  margin-right: auto;
  text-overflow: ellipsis;
}

.remove-card-button {
  position: relative;
  z-index: 3;
  background-color: #282828;
  color: #D4D4D4;
  padding: 2.5px 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.remove-card-button:hover {
  filter: invert(100%)
}
