.searchForm{
	display: grid;
	grid-template-columns: .1fr 2fr .3fr .1fr .7fr 1.5fr;
	grid-template-rows: 1fr 1fr;
	width: 85%;
	grid-row-gap: 37%;
	grid-column-gap: 2%;
	margin: 5rem auto 2.5rem;
	background-color: #282828;
	color: #d4d4d4;
	padding: 3% 3% 4% 3%;
}

#card_name{
	font-size: 0.9em;
	width: 85%;
}

.search-word{
	text-align: right;
}

.search-button{
	grid-row: 2/3;
	grid-column: 6/7;
	// text-align: center;
}
