$dark-gray: #282828;
$med-light-gray: #909090;
$light-gray: #D4D4D4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir";
  font-size: 16px;
  letter-spacing: 0.4px;
}

.page-wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 0.1fr 1fr;
}

// Custom Fonts
@font-face {
  font-family: "Avenir";
  src: font-url("AvenirLTStd-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Avenir";
  src: font-url("AvenirLTStd-Roman.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Avenir";
  src: font-url("AvenirLTStd-Book.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: font-url("AvenirLTStd-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Avenir";
  src: font-url("AvenirLTStd-Heavy.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Avenir";
  src: font-url("AvenirLTStd-Black.otf");
  font-weight: 700;
}

// Navigation Bar
nav {
  background-color: #282828;

  // Left Logo - links to homepage
  #mtglogo {
    height: 62.5px;
    width: 200px;
    background-image: url('mtg_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px 0 20px 25px;
    margin-right: auto;

    filter: invert(100%);
  }

  ul {
    display: flex;

    li {
      display: inline-block;
      list-style-type: none;
    }

    li:first-child {
      margin-right: auto;
    }

    .navtextlink {
      color: #D4D4D4;
      display: block;
      line-height: 3em;
      font-size: 1.1em;
      font-weight: 600;
      padding: 1.6em 2em 1.1em;
      text-decoration: none;
      border-bottom: 5px solid transparent;
      transition: all 0.5s ease;
      letter-spacing: 1px;
    }

    .navtextlink:hover {
      border-bottom: 5px solid #D4D4D4;
    }
  }
}

.main-content {
  background-color: #909090;
}

.content-title {
  margin: 4rem 0 2.5rem 0;
  font-size: 1.85em;
  text-align: center;
}

.content-wrapper {
  padding-bottom: 7.5rem;
}

.center-align {
  text-align: center;
}

.link-button {
  border: 1px solid #D4D4D4;
  text-decoration: none;
  padding: 15px 20px;
  background-color: #282828;
  color: #D4D4D4;
  transition: all 0.5s ease;
}

.link-button:hover {
  filter: invert(100%);
}
