* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 16px;
}

.page-wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 0.1fr 1fr;
}

// Navigation Bar
nav {
  background-color: #F5E4B7;

  // Left Logo - links to homepage
  #mtglogo {
    height: 62.5px;
    width: 200px;
    background-image: url('mtg_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px 0 20px 25px;
    margin-right: auto;
  }

  ul {
    display: flex;

    li {
      display: inline-block;
      list-style-type: none;
    }

    li:first-child {
      margin-right: auto;
    }

    .navtextlink {
      color: #706E64;
      display: block;
      line-height: 3em;
      font-size: 1.1em;
      font-weight: bold;
      padding: 1.3em 2em;
      text-decoration: none;
    }

    .navtextlink:hover {
      color: #F5E4B7;
      background-color: #706E64;
    }
  }
}

.main-content {
  background-color: #706E64;
}
