// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-content-wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 0.65fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.outer-zoom {
  border: 1px solid;
  overflow: hidden;

  .banner-image {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    .banner-title {
      color: white;
      font-weight: 700;
      font-size: 2.5em;
      letter-spacing: 1px;

      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black,
                       0px 15px 5px rgba(0,0,0,0.1),
                       10px 20px 5px rgba(0,0,0,0.05),
                       -10px 20px 5px rgba(0,0,0,0.05);
    }
  }

  .motto-banner {
    background-image: url('motto_banner.jpg');
    background-size: cover;
    background-position: 0 -125px;
    grid-column: 1 / 3;
  }

  .show-deck-banner {
    background-image: url('deck_banner.jpg');
    background-size: cover;
    background-position: 0 -15px;
  }

  .sign-up-banner {
    background-image: url('sign_up_banner.jpg');
    background-size: cover;
    background-position: 0 -65px;
  }
}

.outer-zoom:first-child {
  grid-column: 1 / 3;
}

.banner-image:hover {
  transform: scale(1.15);
}
