<div> Your decks: </div>
<% if @decks.length != 0%>
	<% for deck in @decks %>
		<div><%= deck.name %></div>
		<%= link_to "Edit this deck", edit_user_deck_path(current_user, deck) %>
	<% end %>

<% else %>
	<div>No decks currently made.</div>
	<div><%= link_to "Click here to make a new deck", new_user_deck_path(current_user) %></div>


<% end %>