<h1 class='content-title'>Create A Deck</h1>

<div class='deck-creation-wrapper'>

  <div class='search-area-wrapper'>

  </div>

  <div class='card-result-wrapper'>

  </div>

  <div class='deck-list-wrapper'>

  </div>

</div>
